<div class="my-container">
    <div class="container pt-5">
        <div class="row">
            <div class="col-12 col-md-6">
                <h1 class="display-3 font-weight-bold text-shadow">Quñatinda<small>&copy;</small></h1>
                <p class="display-4 my-4">Estamos en construcción de nuestra plataforma.</p>
                <p class="lead text-justify my-4">Actualmente estamos en proceso de desarollo para poder brindarles la mejor experiencia. Gracias por su paciencia, pronto estaremos contigo.</p>
                <div class="my-5">
                    <li class="bg-facebook p-2"><a href="#" class="text-white"><i class="fa fa-facebook fa-2x"></i></a></li>
                    <li class="bg-instagram p-2 mx-2"><a href="#" class="text-white"><i class="fa fa-instagram fa-2x"></i></a></li>
                    <li class="bg-google p-2"><a href="#" class="text-white"><i class="fa fa-google fa-2x"></i></a></li>
                </div>
            </div>
        </div>
    </div>
</div>